.menu-container {
  // position: relative;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  max-width: 200px;
}

// default hidden visibility (maybe do display: none;?)
.menu {
  background: #fff;
  border-radius: 8px;
  // position: absolute;
  // width: 200px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;

  // if menu isActive, then make the menu appear
  &.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #fff;
  }

  li {
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    padding: 0 7px;
  }
}

.menu-trigger {
  background: #fff;
  border-radius: 9px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  border: none;
  vertical-align: middle;
  transition: box-shadow 0.4s ease;
}
