.hero {
  //   padding-inline-end: 60px;
  padding-block-end: 60px;
  padding-block-start: 100px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  .row {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  .br-5 {
    border-radius: 5px;
  }

  .hero-info {
    padding-top: 10px;
  }

  a {
    list-style-type: none;
  }

  .hero-image {
    width: 200px;
    // max-width: 275px;
    height: 200px;
    // max-height: 275px;
    overflow: hidden;
    border-radius: 3000px;
    position: relative;
    // float: right;

    img {
      // padding-inline-start: 20px;
      // width: 100%;
      display: inline;
      margin: 0 auto;
      margin-left: -25%;
      height: 100%;
      // width: auto;
    }
  }

  .logo-images {
    display: flex;
    padding-inline-start: 0;

    li {
      padding-inline-end: 30px;
      padding-block-end: 20px;
      list-style-type: none;
    }

    .fa-linkedin,
    .fa-github-square,
    .fa-behance-square {
      width: 100%;
      // height: 2rem;
    }
  }
}

@media screen and (max-width: 900px) {
  .hero {
    // padding-inline-start: 2rem;
    // margin-inline-start: 2rem;

    .row {
      display: flex;
      flex-direction: row;

      .hero-image {
        float: none;
      }
    }
  }
}
