.hero {
  //   padding-inline-end: 60px;
  padding-block-end: 60px;
  padding-block-start: 100px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  .row {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
  .hero-info {
    padding-top: 60px;
  }

  .hero-image {
    width: 200px;
    // max-width: 275px;
    height: 200px;
    // max-height: 275px;
    overflow: hidden;
    border-radius: 3000px;
    position: relative;
    // float: right;

    img {
      // padding-inline-start: 20px;
      // width: 100%;
      display: inline;
      margin: 0 auto;
      margin-left: -25%;
      height: 100%;
      // width: auto;
    }
  }
}

@media screen and (max-width: 900px) {
  .row {
    display: flex;
    flex-direction: row;

    .hero-image {
      float: none;
    }
  }
}
