.site-navigation {
  height: 65px;
  width: 100%;
  background: white;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 100;
  top: 0;
  color: $text-color;

  .menu-title {
    font-size: 22px;
    font-weight: 500;
    display: flex;
    align-items: center;
    margin-left: 30px;
  }
  .ion-ios-menu {
    font-size: 36px;
    width: 65px;
    align-items: center;
    cursor: pointer;
    display: none;
  }
  .ion-ios-close {
    font-size: 36px;
    width: 65px;
    align-items: center;
    cursor: pointer;
    display: none;
  }

  .menu-content-container {
    display: flex;
    align-items: center;
    padding-right: 30px;

    .ant-avatar {
      background: $background;
      border: 1px solid $border;
    }

    .menu-avatar-name {
      font-size: 18px;
      margin-left: 18px;
    }
  }

  ul {
    height: 100%;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    display: flex;
    align-items: center;
    list-style-type: none;
    padding-right: 20px;

    a {
      text-decoration: none;
      padding: 0 20px;
      font-size: 20px;
      color: $text-color;

      &:hover {
        color: $text-link;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .site-navigation {
    .menu-content-container {
      width: 300px;
      // 65px is height of nav
      height: calc(100% - 65px);
      background: white;
      // doesn't clash with other elements
      position: fixed;
      top: 65px;
      // be completely off the screen
      left: -350px;
      transition: 300ms ease left;
      // places avatar on top
      flex-direction: column-reverse;
      padding: 0;
      padding-left: 30px;

      a {
        width: 100%;
        padding: 0;
      }

      li {
        height: 65px;
        display: flex;
        align-items: center;
      }

      ul {
        flex-direction: column;
        justify-content: flex-start;
        padding: 0;
        padding-top: 20px;
      }

      ul,
      li,
      .menu-avatar-container {
        width: 100%;
      }

      .menu-avatar-container {
        padding-top: 20px;
      }

      // only activates when it has menu-content-container AND active class on the same element
      &.active {
        left: 0px;
      }
    }
    .ion-ios-menu {
      display: flex;
    }
    .ion-ios-close {
      display: flex;
    }
  }
}
