.site-navigation {
  height: 65px;
  width: 100%;
  background: white;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 100;
  top: 0;
  color: $text-color;

  .menu-title {
    font-size: 22px;
    font-weight: 500;
    display: flex;
    align-items: center;
    margin-left: 30px;
  }
  .ion-ios-menu {
    font-size: 36px;
    width: 65px;
    align-items: center;
    cursor: pointer;
    display: none;
  }
  .ion-ios-close {
    font-size: 36px;
    width: 65px;
    align-items: center;
    cursor: pointer;
    display: none;
  }

  .menu-content-container {
    display: flex;
    align-items: center;
    padding-right: 30px;

    .ant-avatar {
      background: $background;
      border: 1px solid $border;
    }

    .menu-avatar-name {
      font-size: 18px;
      margin-left: 18px;
    }
  }

  /* Icon change */

  #nav-icon1 {
    width: 30px;
    height: 22.5px;
    position: relative;
    margin: 25px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    display: none;
  }

  #nav-icon1 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: $text-color;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }

  #nav-icon1 span:nth-child(1) {
    top: 0px;
  }

  #nav-icon1 span:nth-child(2) {
    top: 8px;
  }

  #nav-icon1 span:nth-child(3) {
    top: 16px;
  }

  #nav-icon1.open span:nth-child(1) {
    top: 10px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }

  #nav-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
  }

  #nav-icon1.open span:nth-child(3) {
    top: 10px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }

  /* Icon change */

  ul {
    height: 100%;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    display: flex;
    align-items: center;
    list-style-type: none;
    padding-right: 20px;

    a {
      text-decoration: none;
      padding: 0 20px;
      font-size: 20px;
      color: $text-color;

      &:hover {
        color: $text-link;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .site-navigation {
    .menu-content-container {
      width: 300px;
      // 65px is height of nav
      height: calc(100% - 65px);
      background: white;
      // doesn't clash with other elements
      position: fixed;
      top: 65px;
      // be completely off the screen
      left: -350px;
      transition: 300ms ease left;
      // places avatar on top
      flex-direction: column-reverse;
      padding: 0;
      padding-left: 30px;

      a {
        width: 100%;
        padding: 0;
      }

      li {
        height: 65px;
        display: flex;
        align-items: center;
      }

      ul {
        flex-direction: column;
        justify-content: flex-start;
        padding: 0;
        padding-top: 20px;
      }

      ul,
      li,
      .menu-avatar-container {
        width: 100%;
      }

      .menu-avatar-container {
        padding-top: 20px;
      }

      // only activates when it has menu-content-container AND active class on the same element
      &.active {
        left: 0px;
      }
    }
    .ion-ios-menu {
      display: flex;
    }
    .ion-ios-close {
      display: flex;
    }

    #nav-icon1 {
      display: flex;
    }
  }
}
