html {
  --main-button-color: #1890ff;
}

.MuiSwitch-colorSecondary.Mui-checked {
  color: var(--main-button-color) !important;
}

.MuiSwitch-colorSecondary.Mui-checked + .MuiSwitch-track {
  background-color: var(--main-button-color) !important;
}

label.MuiFormControlLabel-root {
  padding-bottom: 30px !important;
}
